*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-outputs.json

# Environment files
.env
.env.*

# Private keys
*.pem
*.key

# Lambda Live Debugger config
lldebugger.config.*
